@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./pallet.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: $theme !important;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.anchor {
  scroll-margin-top: 100px;
}

h1 {
  @extend %title;
  @include font(1.875rem !important, 600, 2.25rem, -0.025rem);
}
h2 {
  @extend %title;
  @include font(1.875rem, 600, 2.5rem, -0.035rem);
}
h3 {
  @extend %title;
  @include font(1.375rem, 600, 2.5rem, -0.035rem);
}
.subtitle {
  color: rgb(107 114 128);
  @include font(1.2rem, normal, inherit, normal);
}

img {
  max-width: 100%;
  height: auto;
}
main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

.App-hero {
  display: flex;
  background-color: $theme-light;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: $size-lg;
  color: $primary-dark;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

footer footer {
  border-radius: 0 !important;
  box-shadow: none !important;
  background-color: $primary-light !important;
  justify-content: center !important;
  display: flex !important;
}

footer footer a:not(.copyright_wrapper a) {
  margin-top: 0.5rem !important;
  color: $primary-dark;
  font-size: calc($size-lg - 0.3rem) !important;
}

footer footer h2 {
  margin-bottom: 1rem !important;
  color: $primary-dark !important;
  font-weight: 700 !important;
}

@media only screen and (min-width: 768px) {
  nav li {
    align-self: center;
  }
}

.btn-primary {
  @include btn-style($theme, $theme-light, none, 600);
  &:hover {
    background-color: $button-hover !important;
    color: $primary-light !important;
    border: none;
  }
  &:focus {
    box-shadow: none !important;
  }
}
