@import "./pallet.scss";

.title {
  text-align: center;
}

.title {
  text-align: center;
}

.card {
  display: block;
  position: relative;
  overflow: hidden;
  border: 1px solid !important;
  --bs-border-opacity: 0.1;
  border-color: rgba($theme, var(--bs-border-opacity)) !important;
  border-radius: 0.5rem;
}

.logo {
  height: 1em;
}

.sidebar {
  width: 100%;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 12%;
}

.container {
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
}

.content_container {
  padding: 0 2rem;
  height: 100%;
}

.sidebar nav div {
  background-color: transparent;
  padding: 0 0.75rem 0 0;
}

.sidebar div[data-testid="flowbite-sidebar-items"] {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.sidebar li a {
  margin-left: 0;
}
