@import "./pallet.scss";

.title {
  text-align: center;
}

.title {
  text-align: center;
}

.card {
  display: block;
  position: relative;
  overflow: hidden;
  border: 1px solid !important;
  --bs-border-opacity: 0.1;
  border-color: rgba($theme, var(--bs-border-opacity)) !important;
  border-radius: 0.5rem;
}

.logo {
  height: 1em;
}

.sidebar {
  width: 100%;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 12%;
}

.container {
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
}

.content_container {
  padding: 0 2rem;
  height: 100%;
}
