/*------Color Pallet------*/
$theme: #6366f1;
$theme-light: #f2f3fa;
$primary-light: #ffffff;
$secondary-light: #f7f7f7;
$primary-dark: #2c2f33;
$secondary-dark: #23272a;
$fnt-muted: #6c757d;
$button-bg: #e0e7ff;
$button-text: #3730a3;
$button-hover: #3730a3;

/*------Font------*/
$size-sm: 0.75rem;
$size-md: 0.875rem;
$size-lg: 1.2rem;
$font-header: "Poppins", "Roboto", "sans-serif", Arial, Helvetica;
$font-body: "Roboto", sans-serif, Arial, Helvetica;

/*------Mixins------*/
@mixin font($fntSize, $fntW, $lineH, $letterSpacing) {
  font-size: $fntSize;
  font-weight: $fntW !important;
  line-height: $lineH !important;
  letter-spacing: $letterSpacing !important;
}
/*------Placeholder------*/
%title {
  display: block;
  margin-bottom: 1rem;
}
